@import "tailwindcss";

@theme {
  --color-brand-50: #EEEDFE;
  --color-brand-100: #CECBF6;
  --color-brand-200: #AFA9EC;
  --color-brand-400: #7F77DD;
  --color-brand-600: #534AB7;
  --color-brand-800: #3C3489;
  --color-brand-900: #26215C;

  .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}

